@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 2rem;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;

  background: rgb(0, 0, 0);
  border-radius: 3px;
}

.cont .nav-items ul {
  display: flex;
  list-style: none;
}

.logo h2 {
  color: white;
  font-family: "Barlow", sans-serif;
}

li {
  margin: 0 3rem;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.info {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 2rem 1rem;
  font-family: F1, sans-serif;
}

button {
  margin: 2rem 1rem;
  font-family: F1, sans-serif;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

h3 {
  color: white;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
background-color: rgb(68, 66, 66);
}

.boxStyle {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
 
}

.logo-nba {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
